# dependencies (bun install)
node_modules

# output
swap

# code coverage
coverage

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env

# caches
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store
